project-008/target/
project-008/.settings/
project-008/.vertx/
project-008/.vscode/

project-008/.classpath
project-008/.project

project-009/target/
project-009/.settings/
project-009/.vertx/
project-009/.vscode/

project-009/.classpath
project-009/.project

.git/
.settings/
.vscode/

.classpath
.project

